<div class="section--furniture-list">
  <div class="container">
    <h3>Furniture list</h3>
    <div class="product">
      <div class="container prom-car">
        <div class="panel-bar">
          <div class="row">
            <div class="col-5 ">
              <div>photo</div>
              <div class="container">
                <div class="panel-bar">
                  <div class="row">
                    <div>down-arrows marginbtn arrows white/orange-active</div>
                    <div class="col-3 prom-1-car"><div>photo</div></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-7">
              <h1>Sunbaby Magic Bear Chair</h1>
              <div class="stars">
                <a href="#" class="full"><i class="fa fa-star"></i></a>
                <a href="#" class="full"><i class="fa fa-star"></i></a>
                <a href="#"><i class="fa fa-star"></i></a>
                <a href="#"><i class="fa fa-star"></i></a>
                <a href="#"><i class="fa fa-star"></i></a>
                <p>(0 reviews) | Add Your Review</p>
              </div>

              <div class="line"></div>

              <div class="price">
                <button class="btn-small no-hover">$ 350.00</button>
                <button class="btn-small">$ 250.00</button>
              </div>

              <div class="line"></div>

              <button class="btn-main-small">
                <i class="fa fa-shopping-basket"></i> ADD TO CART
              </button>

              <div class="outlines">
                <button class="btn-outline active"><i class="fa fa-heart"></i></button>
                <button class="btn-outline active">
                  <i class="far fa-exchange-alt"></i>
                </button>
                <button class="btn-outline"><i class="fas fa-letter"></i></button>
              </div>

              <div class="line"></div>
              <div class="line"></div>
              <p>Quantity:</p>
              <div class="outlines">
                <button class="btn-outline active">2</button>
                <button class="btn-outline">+</button>
                <button class="btn-outline">-</button>
              </div>

              <div class="line"></div>

              <h2>Quick overview</h2>
              <p>
                Nam tristique porta ligula, vel viverra sem eleifend nec. Nulla sed
                purus augue, eu euis mod tellus. Nam mattis eros tis sagittis.
                Vestibulum suscipit cursus biben.
              </p>

              <div class="line"></div>

              <p>Availability: In Stock</p>
              <p>Category: Furniture</p>

              <div class="line"></div>

              <p>btns F Share Google+ Tweet Pinterest Linkedin</p>
            </div>
          </div>
        </div>
      </div>
      <ul class="furniture-tabs nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a
            class="nav-link"
            data-toggle="tab"
            href="#description"
            role="tab"
            aria-controls="description"
            aria-selected="false"
          >
            Description
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link active"
            data-toggle="tab"
            href="#reviews"
            role="tab"
            aria-controls="reviews"
            aria-selected="true"
          >
            Reviews
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            data-toggle="tab"
            href="#specification"
            role="tab"
            aria-controls="specification"
            aria-selected="false"
          >
            Specification
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            data-toggle="tab"
            href="#custom-tab"
            role="tab"
            aria-controls="custom-tab"
            aria-selected="false"
          >
            Custom tab
          </a>
        </li>
      </ul>

      <div class="tab-content">
        <div
          id="description"
          class="tab-pane fade"
          role="tabpanel"
          aria-labelledby="description-tab"
        >
          <module href="./130_section-description.html"></module>
        </div>

        <div
          id="reviews"
          class="tab-pane fade show active"
          role="tabpanel"
          aria-labelledby="home-tab"
        >
          <module href="./131_section-reviews.html"></module>
        </div>

        <div
          id="specification"
          class="tab-pane fade"
          role="tabpanel"
          aria-labelledby="description-tab"
        >
          <module href="./132_section-specification.html"></module>
        </div>

        <div
          id="custom-tab"
          class="tab-pane fade"
          role="tabpanel"
          aria-labelledby="custom-tab"
        >
          <module href="./133_section-custom-tab.html"></module>
        </div>
      </div>
    </div>
  </div>
</div>
