<div class="section--furniture-list">
  <div class="container">
    <div class="product">
      <div class="container prom-car">
        <div class="panel-bar">
          <div class="row">
            <div class="col-5 ">
              <div class="photo-lg"></div>
              <div class="container">
                <div class="panel-bar">
                  <div class="row">
                    <div class="col-3 prom-1-car">
                      <div class="photo-sm photo"></div>
                      <div class="photo-sm photo1"></div>
                      <div class="photo-sm photo2"></div>
                      <div class="photo-sm photo3"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-7">
              <h1>Sunbaby Magic Bear Chair</h1>
              <div class="outlines">
                <div class="stars">
                  <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>
                <p class="outlines">
                  (0 reviews) |
                  <a class="review-link" href="#reviews-1">Add Your Review</a>
                </p>
              </div>

              <div class="line"></div>

              <div class="price">
                <p class="no-hover">$ 350.00</p>
                <button class="btn-small">$ 250.00</button>
              </div>

              <div class="line"></div>

              <button class="btn-main-small">
                <i class="fa fa-shopping-basket"></i> ADD TO CART
              </button>

              <div class="outlines">
                <button class="btn-outline active"><i class="fa fa-heart"></i></button>
                <button class="btn-outline"><i class="fas fa-exchange-alt"></i></button>
                <button class="btn-outline"><i class="fas fa-envelope"></i></button>
              </div>

              <div class="line"></div>

              <div class="outlines">
                <p class="outlines">Quantity:</p>
                <input class="quantity btn-small" type="text" min="0" max="99" />
                <button class="quantity-plus btn-outline">+</button>
                <button class="quantity-minus btn-outline">-</button>
              </div>

              <div class="line"></div>

              <h2>Quick overview</h2>
              <p>
                Nam tristique porta ligula, vel viverra sem eleifend nec. Nulla sed
                purus augue, eu euis mod tellus. Nam mattis eros tis sagittis.
                Vestibulum suscipit cursus biben.
              </p>

              <div class="line"></div>

              <p>Availability: In Stock</p>
              <p>Category: Furniture</p>

              <div class="line"></div>

              <div class="outlines socialmedia">
                <button class="btn-small">
                  <i class="fab fa-facebook-f"></i> Share
                </button>
                <button class="btn-small">
                  <i class="fab fa-google-plus-g red"></i> Google+
                </button>
                <button class="btn-small"><i class="fab fa-twitter"></i>Tweet</button>
                <button class="btn-small">
                  <i class="fab fa-pinterest-p red"></i> Pinterest
                </button>
                <button class="btn-small">
                  <i class="fab fa-linkedin-in"></i> Linkedin
                </button>
              </div>
            </div>
          </div>
        </div>
        <ul class="furniture-tabs nav nav-tabs" role="tablist">
          <li class="nav-item">
            <a
              class="nav-link"
              data-toggle="tab"
              href="#description-1"
              role="tab"
              aria-controls="description"
              aria-selected="false"
            >
              Description
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link active"
              data-toggle="tab"
              href="#reviews-1"
              role="tab"
              aria-controls="reviews"
              aria-selected="true"
            >
              Reviews
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              data-toggle="tab"
              href="#specification-1"
              role="tab"
              aria-controls="specification"
              aria-selected="false"
            >
              Specification
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              data-toggle="tab"
              href="#custom-tab-1"
              role="tab"
              aria-controls="custom-tab"
              aria-selected="false"
            >
              Custom tab
            </a>
          </li>
        </ul>

        <div class="tab-content">
          <div
            id="description-1"
            class="tab-pane fade"
            role="tabpanel"
            aria-labelledby="description-tab"
          >
            <module href="./130_section-description.html"></module>
          </div>

          <div
            id="reviews-1"
            class="tab-pane fade show active"
            role="tabpanel"
            aria-labelledby="home-tab"
          >
            <module href="./131_section-reviews.html"></module>
          </div>

          <div
            id="specification-1"
            class="tab-pane fade"
            role="tabpanel"
            aria-labelledby="description-tab"
          >
            <module href="./132_section-specification.html"></module>
          </div>

          <div
            id="custom-tab-1"
            class="tab-pane fade"
            role="tabpanel"
            aria-labelledby="custom-tab"
          >
            <module href="./133_section-custom-tab.html"></module>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
