<div class="section--reviews">
  <div class="container">
    <p>There are no reviews for this product.</p>
    <h1 class="title">Add a review</h1>
    <p class="title">Your rating</p>
    <form>
      <div>
        <p class="opinion1">Bad</p>
        <div class="stars">
          <i class="fa fa-star selected"></i> <i class="fa fa-star selected"></i>
          <i class="fa fa-star selected"></i> <i class="fa fa-star selected"></i>
          <i class="fa fa-star selected"></i>
        </div>
        <p class="opinion2">Good</p>
      </div>
      <p class="title">Your review</p>
      <div class="review">
        <textarea name="Your review" placeholder="Here write your review:"></textarea>
      </div>
      <div class="row">
        <div class="col-5">
          <input
            type="text"
            name="user-name"
            placeholder="Name*"
            id="name"
            required="required"
          />
        </div>
        <div class="col-5">
          <input type="email" placeholder="Email*" id="email" required="required" />
        </div>
        <div class="col-2">
          <button type="submit" class="btn-main">Continue</button>
        </div>
      </div>
    </form>
  </div>
</div>
