<div class="section--reviews">
  <div class="container">
    <p>There are no reviews for this product.</p>
    <h1 class="title">Add a review</h1>
    <p class="title">Your rating</p>
    <div>
      <p class="opinion1">Bad</p>
      <div class="icon active"><i class="fa fa-star"></i></div>
      <div class="icon"><i class="fa fa-star"></i></div>
      <div class="icon"><i class="fa fa-star"></i></div>
      <div class="icon"><i class="fa fa-star"></i></div>
      <div class="icon"><i class="fa fa-star"></i></div>
      <p class="opinion2">Good</p>
    </div>
    <p class="title">Your review</p>
    <form>
      <div class="review"><textarea name="Your review"></textarea></div>
      <input type="text" name="user-name" placeholder="Name*" />
      <input type="email" id="email" placeholder="Email*" />
      <button class="btn-main">Continue</button>
    </form>
  </div>
</div>
