<div class="section--featured">
  <div class="container">
    <div class="row">
      <div class="product-box">
        <div class="col-3 deals">
          <h1>Hot deals</h1>
          <div class="col-auto dots">
            <ul>
              <li><a href="#" class="active"></a></li>
              <li><a href="#"></a></li>
              <li><a href="#"></a></li>
            </ul>
          </div>
          <div class="photo">
            <div class="buttons">
              <a href="#" class="btn-main-small"
                ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
              >
              <div class="col-3 time circle"><h3>25 DAYS</h3></div>
              <div class="col-3 time circle"><h3>10 HRS</h3></div>
              <div class="col-3 time circle"><h3>45 MINS</h3></div>
              <div class="col-3 time circle"><h3>30 SECS</h3></div>
            </div>
            <div class="content">
              <h5>Aenean Ru Bristique</h5>
              <div class="stars">
                <a href="#" class="full"></a> <a href="#" class="full"></a>
                <a href="#"></a> <a href="#"></a> <a href="#"></a>
              </div>
            </div>
            <div class="line"></div>
            <div class="actions">
              <div class="outlines">
                <a href="#" class="btn-outline"><i class="far fa-eye"></i></a>
                <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
                <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
              </div>
              <div class="price">
                <div class="btn-main-small no-hover">$ 30.00</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-9">
        <div id="carousel-featured" class="carousel slide">
          <div class="carousel-inner">
            <div class="photopromo">
              <layer id="layerpromo">
                <h1>Indoor furniture</h1>
                <p>Save up to 50% of all furniture</p>
                <div class="btn-main-small no-hover">Shop now</div>
              </layer>
              <a
                class="left carousel-control"
                href="#carousel-featured"
                data-slide="prev"
              >
                <span class="icon-prev"></span>
              </a>
              <a
                class="right carousel-control"
                href="#carousel-featured"
                data-slide="next"
              >
                <span class="icon-next"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
