<div class="section--featured">
  <div class="container">
    <div class="row">
      <div class="col-3 prom-1-car">
        <div class="product">
          <div class="slider-featured">
            <div class="dealspromo">
              <h5>Hot deals</h5>
              <div class="dots slider-featured-dots">
                <ul>
                  <li><a></a></li>
                  <li><a></a></li>
                  <li><a></a></li>
                </ul>
              </div>
            </div>
            <div class="featured-box">
              <div class="photo f2">
                <div class="key">
                  <div class="addcart">
                    <a class="btn-main-small"
                      ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
                    >
                  </div>
                  <div class="time">
                    <a href="#"> <p>25 days</p> </a> <a href="#"> <p>10 hours</p> </a>
                    <a href="#"> <p>45 mins</p> </a> <a href="#"> <p>30 secs</p> </a>
                  </div>
                </div>
              </div>
              <div class="content">
                <h5>Aenean Ru Bristique</h5>
                <div class="stars">
                  <a href="#" class="full"></a> <a href="#" class="full"></a>
                  <a href="#"></a> <a href="#"></a> <a href="#"></a>
                </div>
              </div>
              <div class="line"></div>
              <div class="actions">
                <div class="outlines">
                  <div class="outlinebtn"><i class="far fa-eye"></i></div>
                  <div class="outlinebtn"><i class="far fa-heart"></i></div>
                  <div class="outlinebtn"><i class="fas fa-exchange-alt"></i></div>
                </div>
                <div class="price"><div class="btn-main-small">$ 30.00</div></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-9 prom-2-car">
        <div class="slider-featured-1">
          <div class="featured-box">
            <div class="productpromo f1">
              <div class="layerpromo">
                <h1>Indoor furniture</h1>
                <p>Save up to 50% of all furniture</p>
                <div class="btn-main-small hover">Shop now</div>
              </div>
              <div class="buttonnext buttons">
                <div class="leftbutton prev">
                  <div class="icon"><i class="fas fa-chevron-left"></i></div>
                </div>
                <div class="rightbutton next">
                  <div class="icon"><i class="fas fa-chevron-right"></i></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
