<div class="section--promotion">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <div class="promotion-box">
          <img
            class="photo-main"
            src="https://images.unsplash.com/photo-1493663284031-b7e3aefcae8e"
            alt="Sofa"
          />
          <div class="hero">
            <div class="description">
              <p><span>GUEST ROOM</span></p>
              <p><span>SOFA</span></p>
              <p><span>-20%</span></p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="promotion-box">
          <img
            class="photo-second"
            src="https://images.unsplash.com/photo-1464065914911-7af1428d6436"
            alt="Table"
          />
          <img
            class="photo-second"
            src="https://images.unsplash.com/photo-1531835551805-16d864c8d311"
            alt="Bed"
          />
        </div>
      </div>
    </div>
  </div>
</div>
