<div class="section--promotion">
  <div class="container">
    <div class="panel-bar">
      <div class="row">
        <div class="col-4 prom-1-car">
          <div class="col-auto dots slider-promotion-dots">
            <h5>HOT DEALS</h5>
            <ul>
              <li><a href="#"></a></li>
              <li><a href="#"></a></li>
              <li><a href="#"></a></li>
            </ul>
          </div>
          <div class="slider-promotion">
            <div class="promotion-box">
              <div class="photo f1">
                <div class="content">
                  <a href="#" class="btn-main-small"
                    ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
                  >
                </div>
                <div class="row">
                  <div class="col-3">25<br />DAYS</div>
                  <div class="col-3">10<br />HRS</div>
                  <div class="col-3">45<br />MINS</div>
                  <div class="col-3">30<br />SECS</div>
                </div>
                <h5>Aenean Ru Bristique 1</h5>
                <div class="stars">
                  <a href="#" class="full"><i class="fa fa-star"></i></a>
                  <a href="#" class="full"><i class="fa fa-star"></i></a>
                  <a href="#"><i class="fa fa-star"></i></a>
                  <a href="#"><i class="fa fa-star"></i></a>
                  <a href="#"><i class="fa fa-star"></i></a>
                </div>
                <div class="line"></div>
                <div class="outlines">
                  <a href="#" class="btn-outline active"><i class="fa fa-eye"></i></a>
                  <a href="#" class="btn-outline active"
                    ><i class="far fa-heart"></i
                  ></a>
                  <a href="#" class="btn-outline"
                    ><i class="fas fa-exchange-alt"></i
                  ></a>
                </div>
                <div class="price"><div class="btn-small no-hover">$ 300.00</div></div>
              </div>
            </div>

            <div class="promotion-box">
              <div class="photo f2">
                <div class="content">
                  <a href="#" class="btn-main-small"
                    ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
                  >
                </div>
                <div class="row">
                  <div class="col-3">25<br />DAYS</div>
                  <div class="col-3">10<br />HRS</div>
                  <div class="col-3">45<br />MINS</div>
                  <div class="col-3">30<br />SECS</div>
                </div>
                <h5>Aenean Ru Bristique 2</h5>
                <div class="stars">
                  <a href="#" class="full"><i class="fa fa-star"></i></a>
                  <a href="#" class="full"><i class="fa fa-star"></i></a>
                  <a href="#"><i class="fa fa-star"></i></a>
                  <a href="#"><i class="fa fa-star"></i></a>
                  <a href="#"><i class="fa fa-star"></i></a>
                </div>
                <div class="line"></div>
                <div class="outlines">
                  <a href="#" class="btn-outline active"><i class="fa fa-eye"></i></a>
                  <a href="#" class="btn-outline active"
                    ><i class="far fa-heart"></i
                  ></a>
                  <a href="#" class="btn-outline"
                    ><i class="fas fa-exchange-alt"></i
                  ></a>
                </div>
                <div class="price"><div class="btn-small no-hover">$ 300.00</div></div>
              </div>
            </div>

            <div class="promotion-box">
              <div class="photo f3">
                <div class="content">
                  <a href="#" class="btn-main-small"
                    ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
                  >
                </div>
                <div class="row">
                  <div class="col-3">25<br />DAYS</div>
                  <div class="col-3">10<br />HRS</div>
                  <div class="col-3">45<br />MINS</div>
                  <div class="col-3">30<br />SECS</div>
                </div>
                <h5>Aenean Ru Bristique 3</h5>
                <div class="stars">
                  <a href="#" class="full"><i class="fa fa-star"></i></a>
                  <a href="#" class="full"><i class="fa fa-star"></i></a>
                  <a href="#"><i class="fa fa-star"></i></a>
                  <a href="#"><i class="fa fa-star"></i></a>
                  <a href="#"><i class="fa fa-star"></i></a>
                </div>
                <div class="line"></div>
                <div class="outlines">
                  <a href="#" class="btn-outline active"><i class="fa fa-eye"></i></a>
                  <a href="#" class="btn-outline active"
                    ><i class="far fa-heart"></i
                  ></a>
                  <a href="#" class="btn-outline"
                    ><i class="fas fa-exchange-alt"></i
                  ></a>
                </div>
                <div class="price"><div class="btn-small no-hover">$ 300.00</div></div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-8 prom-2-car">
          <div class="slider-promotion-1">
            <div class="promotion-box">
              <div class="hero">
                <div class="description f1">
                  <p><span>INDOOR FURNITURE 1</span></p>
                  <p><span>SAVE UP TO 50% OF ALL FURNITURE</span></p>
                  <a href="#" class="btn-main-small">SHOP NOW</a>
                </div>
              </div>
            </div>

            <div class="promotion-box">
              <div class="hero">
                <div class="description f2">
                  <p><span>INDOOR FURNITURE 2</span></p>
                  <p><span>SAVE UP TO 50% OF ALL FURNITURE</span></p>
                  <a href="#" class="btn-main-small">SHOP NOW</a>
                </div>
              </div>
            </div>

            <div class="promotion-box">
              <div class="hero">
                <div class="description f3">
                  <p><span>INDOOR FURNITURE 3</span></p>
                  <p><span>SAVE UP TO 50% OF ALL FURNITURE</span></p>
                  <a href="#" class="btn-main-small">SHOP NOW</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12 col-sm-12">
        <div class="slider-button">
          <div class="promotion-box">
            <ol class="carousel-indicators">
              <li
                data-target="#carousel-example-generic"
                data-slide-to="0"
                class="active"
              ></li>
              <li data-target="#carousel-example-generic" data-slide-to="1"></li>
              <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
