<div class="section--promotion">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <div class="col-auto dots">
          <ul>
            <li><a class="active" href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
          </ul>
        </div>
        <div class="slider-promotion">
          <div class="promotion-box">
            <div class="photo f1">
              <h3>HOT DEALS</h3>
              <div class="content">
                <a href="#" class="btn-main-small"
                  ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
                >
              </div>
              <div class="row">
                <div class="col-3">25<br />DAYS</div>
                <div class="col-3">10<br />HRS</div>
                <div class="col-3">45<br />MINS</div>
                <div class="col-3">30<br />SECS</div>
              </div>
              <h5>Aenean Ru Bristique 1</h5>
              <div class="stars">
                <a href="#" class="full"><i class="fa fa-star"></i></a>
                <a href="#" class="full"><i class="fa fa-star"></i></a>
                <a href="#"><i class="fa fa-star"></i></a>
                <a href="#"><i class="fa fa-star"></i></a>
                <a href="#"><i class="fa fa-star"></i></a>
              </div>
              <div class="line"></div>
              <div class="outlines">
                <a href="#" class="btn-outline active"><i class="fa fa-eye"></i></a>
                <a href="#" class="btn-outline active"><i class="far fa-heart"></i></a>
                <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
              </div>
              <div class="price"><div class="btn-small no-hover">$ 300.00</div></div>
            </div>
          </div>

          <div class="promotion-box">
            <div class="photo f2">
              <h3>HOT DEALS</h3>
              <div class="content">
                <a href="#" class="btn-main-small"
                  ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
                >
              </div>
              <div class="row">
                <div class="col-3">25<br />DAYS</div>
                <div class="col-3">10<br />HRS</div>
                <div class="col-3">45<br />MINS</div>
                <div class="col-3">30<br />SECS</div>
              </div>
              <h5>Aenean Ru Bristique 2</h5>
              <div class="stars">
                <a href="#" class="full"><i class="fa fa-star"></i></a>
                <a href="#" class="full"><i class="fa fa-star"></i></a>
                <a href="#"><i class="fa fa-star"></i></a>
                <a href="#"><i class="fa fa-star"></i></a>
                <a href="#"><i class="fa fa-star"></i></a>
              </div>
              <div class="line"></div>
              <div class="outlines">
                <a href="#" class="btn-outline active"><i class="fa fa-eye"></i></a>
                <a href="#" class="btn-outline active"><i class="far fa-heart"></i></a>
                <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
              </div>
              <div class="price"><div class="btn-small no-hover">$ 300.00</div></div>
            </div>
          </div>

          <div class="promotion-box">
            <div class="photo f3">
              <h3>HOT DEALS</h3>
              <div class="content">
                <a href="#" class="btn-main-small"
                  ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
                >
              </div>
              <div class="row">
                <div class="col-3">25<br />DAYS</div>
                <div class="col-3">10<br />HRS</div>
                <div class="col-3">45<br />MINS</div>
                <div class="col-3">30<br />SECS</div>
              </div>
              <h5>Aenean Ru Bristique 3</h5>
              <div class="stars">
                <a href="#" class="full"><i class="fa fa-star"></i></a>
                <a href="#" class="full"><i class="fa fa-star"></i></a>
                <a href="#"><i class="fa fa-star"></i></a>
                <a href="#"><i class="fa fa-star"></i></a>
                <a href="#"><i class="fa fa-star"></i></a>
              </div>
              <div class="line"></div>
              <div class="outlines">
                <a href="#" class="btn-outline active"><i class="fa fa-eye"></i></a>
                <a href="#" class="btn-outline active"><i class="far fa-heart"></i></a>
                <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
              </div>
              <div class="price"><div class="btn-small no-hover">$ 300.00</div></div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-8">
        <div class="slider-promotion-1">
          <div class="promotion-box">
            <div class="hero">
              <div class="description f1">
                <p><span>INDOOR FURNITURE 1</span></p>
                <p><span>SAVE UP TO 50% OF ALL FURNITURE</span></p>
                <a href="#" class="btn-main-small">SHOP NOW</a>
              </div>
            </div>
          </div>

          <div class="promotion-box">
            <div class="hero">
              <div class="description f2">
                <p><span>INDOOR FURNITURE 2</span></p>
                <p><span>SAVE UP TO 50% OF ALL FURNITURE</span></p>
                <a href="#" class="btn-main-small">SHOP NOW</a>
              </div>
            </div>
          </div>

          <div class="promotion-box">
            <div class="hero">
              <div class="description f3">
                <p><span>INDOOR FURNITURE 3</span></p>
                <p><span>SAVE UP TO 50% OF ALL FURNITURE</span></p>
                <a href="#" class="btn-main-small">SHOP NOW</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12 col-sm-12">
        <div class="slider-button">
          <div class="promotion-box">
            <ol class="carousel-indicators">
              <li
                data-target="#carousel-example-generic"
                data-slide-to="0"
                class="active"
              ></li>
              <li data-target="#carousel-example-generic" data-slide-to="1"></li>
              <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>
          </div>
        </div>
        <!--
        <div class="slider-promotion">
          <div class="promotion-box">
            <div class="item active">
              <img
                class="photo-main"
                src="/images/promotion/Sofa_small.jpg"
                alt="Sofa"
              />
            </div>
            <div class="hero">
              <div class="description">
                <p><span>GUEST ROOM</span></p>
                <p><span>SOFA</span></p>
                <p><span>-20%</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12">
        <div class="slider-promotion">
          <div class="promotion-box">
            <div class="item active">
              <img
                class="photo-second"
                src="/images/promotion/table_small.jpg"
                alt="Table"
              />
            </div>
          </div>
          <div class="promotion-box">
            <div class="item">
              <img
                class="photo-second"
                src="/images/promotion/bed_small.jpg"
                alt="Bed"
              />
            </div>
          </div>

          <button
            class="left carousel-control"
            href="#carousel-second"
            role="button"
            data-slide="prev"
          >
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"> </span>
            <span class="sr-only"><</span>
          </button>
          <button
            class="right carousel-control"
            href="#carousel-second"
            role="button"
            data-slide="next"
          >
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"> </span>
            <span class="sr-only">></span>
          </button>
        </div>
      </div>
    </div>-->
      </div>
    </div>
  </div>
</div>
