<div class="section--gallery">
  <div class="container">
    <div class="row">
      <div class="col-6 col-xs-12 heading">
        <div class="panel-bar">
          <div class="row no-gutters align-items-end">
            <div class="col-auto heading"><h3>Furniture gallery</h3></div>
          </div>
        </div>
        <div class="product-left-gallery">
          <ul class="tabs list-unstyled" id="tabs">
            <li class="tab"><a href="#tab1">Featured</a></li>
            <li class="tab active"><a href="#tab2">Top seller</a></li>
            <li class="tab"><a href="#tab3">Sale off</a></li>
            <li class="tab"><a href="#tab4">Top rated</a></li>
          </ul>
          <div id="tab1" class="gallery gallery-featured">
            <div class="bigPhoto active" id="thumb1"></div>
            <div class="bigPhoto" id="thumb2"></div>
            <div class="bigPhoto" id="thumb3"></div>
            <div class="bigPhoto" id="thumb4"></div>
            <div class="bigPhoto" id="thumb5"></div>
            <div class="bigPhoto" id="thumb6"></div>
            <div class="thumbnails">
              <a href="#" class="prev"><i class="fas fa-chevron-left"></i></a>
              <ul class="thumbnails-list list-unstyled">
                <li class="thumb thumb-1 thumb-active"><a href="#thumb1"></a></li>
                <li class="thumb thumb-2"><a href="#thumb2"></a></li>
                <li class="thumb thumb-3"><a href="#thumb3"></a></li>
                <li class="thumb thumb-4"><a href="#thumb4"></a></li>
                <li class="thumb thumb-5"><a href="#thumb5"></a></li>
                <li class="thumb thumb-6"><a href="#thumb6"></a></li>
              </ul>
              <a href="#" class="next"><i class="fas fa-chevron-right"></i></a>
            </div>
          </div>
          <div id="tab2" class="gallery active gallery-top-seller">
            <div class="bigPhoto active"></div>
            <div class="bigPhoto"></div>
            <div class="bigPhoto"></div>
            <div class="bigPhoto"></div>
            <div class="bigPhoto"></div>
            <div class="bigPhoto"></div>
            <div class="thumbnails">
              <a href="#" class="prev"><i class="fas fa-chevron-left"></i></a>
              <ul class="thumbnails-list list-unstyled">
                <li class="thumb thumb-1 thumb-active"><a href="#thumb1"></a></li>
                <li class="thumb thumb-2"><a href="#thumb2"></a></li>
                <li class="thumb thumb-3"><a href="#thumb3"></a></li>
                <li class="thumb thumb-4"><a href="#thumb4"></a></li>
                <li class="thumb thumb-5"><a href="#thumb5"></a></li>
                <li class="thumb thumb-6"><a href="#thumb6"></a></li>
              </ul>
              <a href="#" class="next"><i class="fas fa-chevron-right"></i></a>
            </div>
          </div>
          <div id="tab3" class="gallery gallery-sale-off">
            <div class="bigPhoto active"></div>
            <div class="bigPhoto"></div>
            <div class="bigPhoto"></div>
            <div class="bigPhoto"></div>
            <div class="bigPhoto"></div>
            <div class="bigPhoto"></div>
            <div class="thumbnails">
              <a href="#" class="prev"><i class="fas fa-chevron-left"></i></a>
              <ul class="thumbnails-list list-unstyled">
                <li class="thumb thumb-1 thumb-active"><a href="#thumb1"></a></li>
                <li class="thumb thumb-2"><a href="#thumb2"></a></li>
                <li class="thumb thumb-3"><a href="#thumb3"></a></li>
                <li class="thumb thumb-4"><a href="#thumb4"></a></li>
                <li class="thumb thumb-5"><a href="#thumb5"></a></li>
                <li class="thumb thumb-6"><a href="#thumb6"></a></li>
              </ul>
              <a href="#" class="next"><i class="fas fa-chevron-right"></i></a>
            </div>
          </div>
          <div id="tab4" class="gallery gallery-top-rated">
            <div class="bigPhoto active"></div>
            <div class="bigPhoto"></div>
            <div class="bigPhoto"></div>
            <div class="bigPhoto"></div>
            <div class="bigPhoto"></div>
            <div class="bigPhoto"></div>
            <div class="thumbnails">
              <a href="#" class="prev"><i class="fas fa-chevron-left"></i></a>
              <ul class="thumbnails-list list-unstyled">
                <li class="thumb thumb-1 thumb-active"><a href="#thumb1"></a></li>
                <li class="thumb thumb-2"><a href="#thumb2"></a></li>
                <li class="thumb thumb-3"><a href="#thumb3"></a></li>
                <li class="thumb thumb-4"><a href="#thumb4"></a></li>
                <li class="thumb thumb-5"><a href="#thumb5"></a></li>
                <li class="thumb thumb-6"><a href="#thumb6"></a></li>
              </ul>
              <a href="#" class="next"><i class="fas fa-chevron-right"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 col-xs-12">
        <div class="product-right-gallery">
          <small>from</small> <span class="price">$50.80</span>
          <span class="title">Bedroom Bed</span>
          <a href="#" class="btn-main btn-green">Shop now</a>
        </div>
      </div>
    </div>
  </div>
</div>
