<div class="section--gallery">
  <div class="container">
    <div class="row">
      <div class="col-6 col-xs-12 heading">
        <div class="panel-bar">
          <div class="row no-gutters align-items-end">
            <div class="col-auto heading"><h3>Furniture gallery</h3></div>
          </div>
        </div>
        <div class="col-6 col-xs-12 product-left-gallery">
          <ul class="tabs list-unstyled" id="tabs">
            <li class="tab"><a href="#">Featured</a></li>
            <li class="tab active"><a href="#">Top seller</a></li>
            <li class="tab"><a href="#">Sale off</a></li>
            <li class="tab"><a href="#">Top rated</a></li>
          </ul>
          <div class="gallery">
            <div class="col-6 col-xs-12 gallery-content">
              <div class="big-photo"></div>
              <div class="outlines">
                <div class="toltip-section">
                  <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
                  <span class="gallery-tooltip btn-main-small">Add to favourite</span>
                </div>
                <div class="toltip-section">
                  <a href="#" class="btn-outline"
                    ><i class="fas fa-exchange-alt"></i
                  ></a>
                  <span class="gallery-tooltip btn-main-small">Add to comparison</span>
                </div>
                <div class="toltip-section">
                  <a href="#" class="btn-outline"><i class="fas fa-eye"></i></a>
                  <span class="gallery-tooltip btn-main-small">Quick view</span>
                </div>
                <div class="toltip-section">
                  <a href="#" class="btn-outline"
                    ><i class="fas fa-shopping-basket"></i
                  ></a>
                  <span class="gallery-tooltip btn-main-small">Add to cart</span>
                </div>
              </div>
              <div class="price">
                <div class="new-price">$120.00</div>
                <div class="old-price">$160.00</div>
              </div>
              <div class="content">
                <h5>Aenean Ru Bristique</h5>
                <div class="stars">
                  <a href="#" class="full"></a> <a href="#" class="full"></a>
                  <a href="#"></a> <a href="#"></a> <a href="#"></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 col-xs-12">
            <div class="thumbnails">
              <a href="#" class="prev"><i class="fas fa-chevron-left"></i></a>
              <ul class="thumbnails-list list-unstyled">
                <li class="thumb thumb-1 thumb-active"></li>
                <li class="thumb thumb-2"></li>
                <li class="thumb thumb-3"></li>
                <li class="thumb thumb-4"></li>
                <li class="thumb thumb-5"></li>
                <li class="thumb thumb-6"></li>
              </ul>
              <a href="#" class="next"><i class="fas fa-chevron-right"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 col-xs-12">
        <div class="product-right-gallery">
          <small>from</small> <span class="price">$50.80</span>
          <span class="title">Bedroom Bed</span>
          <a href="#" class="btn-main btn-green">Shop now</a>
        </div>
      </div>
    </div>
  </div>
</div>
