<div class="section--gallery">
  <div class="container">
    <div class="panel-bar">
      <div class="row no-gutters align-items-end">
        <div class="col-6 col-xs-12 heading"><h3>Furniture gallery</h3></div>
      </div>
    </div>
    <div class="row">
      <div class="col-6 col-xs-12">
        <div class="product-left-gallery">
          <ul class="tabs" id="tabs">
            <li class="tab"><a href="#">Featured</a></li>
            <li class="active"><a href="#">Top seller</a></li>
            <li><a href="#">Sale off</a></li>
            <li><a href="#">Top rated</a></li>
          </ul>
        </div>
      </div>
      <div class="col-6 col-xs-12">
        <div class="product-right-gallery">
          <small>from</small> <span class="price">$50.80</span>
          <span class="title">Bedroom Bed</span>
          <a href="#" class="btn-main btn-green">Shop now</a>
        </div>
      </div>
    </div>
  </div>
</div>
