<div class="section--brand">
  <div class="container">
    <div class="row">
      <i class="fas fa-chevron-left"></i>
      <div class="col photos">
        <img class="active" src="/images/Brand/logo_1.jpg" alt="logo_1" />
        <img class="active" src="/images/Brand/logo_2.jpg" alt="logo_2" />
        <img class="active" src="/images/Brand/logo_3.jpg" alt="logo_3" />
        <img class="active" src="/images/Brand/logo_4.jpg" alt="logo_4" />
        <img class="active" src="/images/Brand/logo_5.jpg" alt="logo_5" />
        <img class="active" src="/images/Brand/logo_6.jpg" alt="logo_6" />
        <img src="/images/Brand/logo_1.jpg" alt="logo_1" />
        <img src="/images/Brand/logo_2.jpg" alt="logo_2" />
        <img src="/images/Brand/logo_3.jpg" alt="logo_3" />
        <img src="/images/Brand/logo_4.jpg" alt="logo_4" />
        <img src="/images/Brand/logo_5.jpg" alt="logo_5" />
        <img src="/images/Brand/logo_6.jpg" alt="logo_6" />
        <img src="/images/Brand/logo_1.jpg" alt="logo_1" />
        <img src="/images/Brand/logo_2.jpg" alt="logo_2" />
        <img src="/images/Brand/logo_3.jpg" alt="logo_3" />
        <img src="/images/Brand/logo_4.jpg" alt="logo_4" />
        <img src="/images/Brand/logo_5.jpg" alt="logo_5" />
        <img src="/images/Brand/logo_6.jpg" alt="logo_6" />
        <img src="/images/Brand/logo_1.jpg" alt="logo_1" />
        <img src="/images/Brand/logo_2.jpg" alt="logo_2" />
        <img src="/images/Brand/logo_3.jpg" alt="logo_3" />
        <img src="/images/Brand/logo_4.jpg" alt="logo_4" />
        <img src="/images/Brand/logo_5.jpg" alt="logo_5" />
        <img src="/images/Brand/logo_6.jpg" alt="logo_6" />
        <img src="/images/Brand/logo_1.jpg" alt="logo_1" />
      </div>
      <i class="fas fa-chevron-right"></i>
    </div>
  </div>
</div>
