<div class="section--feedback">
  <div class="container">
    <div class="panel-bar">
      <div class="row no-gutters align-items-end">
        <div class="col-auto heading"><h3>Client feedback</h3></div>
        <div class="col"></div>
        <div class="col-auto dots"><ul></ul></div>
      </div>
    </div>
    <div class="row">
      <div class="col box-feedback">
        <div class="header"><i class="fas fa-quote-left"></i></div>
        <div class="opinion">
          <p>
            W mym domu przyszłą urządza zabawę. Dał rozkaz ekonomom, wójtom i wszerz
            smugów Świecą gęsto jak dżumy jakiej cały las drogi i przymioty. Stąd droga
            co je posłyszał, znikał nagle uciekły i słudzy. I bór czernił
          </p>
        </div>
        <div class="author">
          <div class="photo">
            <img src="images/feedback/Mickiewicz.jpg" alt="Mickiewicz" />
          </div>
          <div class="description">
            <h5>Adam Mickiewicz</h5>
            <p>Polski poeta</p>
          </div>
        </div>
      </div>
      <div class="col box-feedback">
        <div class="header"><i class="fas fa-quote-left"></i></div>
        <div class="opinion">
          <p>
            Morbi vel quam et nunc iaculis mi. Nullam risus auctor non, fringilla ante
            volutpat aliquam risus dictum accumsan sit amet wisi. Vestibulum vitae erat
            id felis. Quisque ut nibh rutrum sapien. Donec
          </p>
        </div>
        <div class="author">
          <div class="photo"><img src="images/feedback/Norwid.jpg" alt="Norwid" /></div>
          <div class="description">
            <h5>Cyprian Norwid</h5>
            <p>Polski poeta</p>
          </div>
        </div>
      </div>
      <div class="col box-feedback show">
        <div class="header"><i class="fas fa-quote-left"></i></div>
        <div class="opinion">
          <p>
            Class aptent taciti sociosqu ad litora torquent per inceptos hymenaeos.
            Fusce suscipit sed, vestibulum tristique purus. Quisque fermentum diam magna
            quis justo. Curabitur consectetuer tincidunt est et lacus sagittis tortor
            venenatis nisl. Vestibulum
          </p>
        </div>
        <div class="author">
          <div class="photo">
            <img src="images/feedback/Wyspianski.png" alt="Wyspiański" />
          </div>
          <div class="description">
            <h5>Stanisław Wyspiański</h5>
            <p>Polski poeta</p>
          </div>
        </div>
      </div>
      <div class="col box-feedback">
        <div class="header"><i class="fas fa-quote-left"></i></div>
        <div class="opinion">
          <p>
            Mauris fringilla orci. Cum sociis natoque penatibus et wisi nunc, ac turpis
            dolor, dictum lectus eget elit ultricies porta scelerisque, dui sit amet
            elit. Donec odio fermentum sed, fermentum erat. In hac habitasse platea
            dictumst. Nulla dolor nunc,
          </p>
        </div>
        <div class="author">
          <div class="photo">
            <img src="images/feedback/Sienkiewicz.jpg" alt="Sienkiewicz" />
          </div>
          <div class="description">
            <h5>Stanisław Sienkiewicz</h5>
            <p>Polski poeta</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
