<div class="section--feedback">
  <div class="container">
    <div class="panel-bar">
      <div class="row no-gutters align-items-end">
        <div class="col-auto heading"><h3>Client feedback</h3></div>
        <div class="col"></div>
        <div class="col-auto dots">
          <ul>
            <li><a href="#" class="active"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col box-feedback">
        <div class="header"><i class="fas fa-quote-left"></i></div>
        <div class="opinion">
          <p>
            W mym domu przyszłą urządza zabawę. Dał rozkaz ekonomom, wójtom i wszerz
            smugów Świecą gęsto jak dżumy jakiej cały las drogi i przymioty. Stąd droga
            co je posłyszał, znikał nagle uciekły i słudzy. I bór czernił
          </p>
        </div>
        <div class="author">
          <div class="photo">
            <img src="images/feedback/Mickiewicz.jpg" alt="Mickiewicz" />
          </div>
          <div class="description">
            <h5>Adam Mickiewicz</h5>
            <p>Polski poeta</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
