.section--furniture-list {
  margin: 5px 0;

  .furniture-tabs li a {
    color: $text-color;
    display: inline-block;

    &.active {
      color: $primary;
    }
  }

  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 16px;
  }

  h3 {
    font-size: 12px;
  }
  .btn-small {
    background-color: white;
    margin: 10px 5px;
    display: inline-block;
  }

  .btn-small:hover {
    background-color: $primary;
    color: white;
  }

  .stars {
    color: black;
    display: inline-block;

    i.selected {
      color: $primary;
    }
  }

  .no-hover {
    text-decoration: line-through;
    display: inline-block;
  }

  .price {
    display: inline-block;
    font-size: 18px;
  }

  .outlines {
    display: inline-block;
    margin-left: 10px;
  }

  .line {
    border-bottom: solid 1px grey;
    margin: 20px 0;
  }

  .review-link {
    color: $text-color;
  }

  .btn-small {
    background-color: black;
    color: white;
  }

  .quantity {
    width: 40px;
    height: 37px;
    padding-left: 12px;
    padding-top: 2px;
    position: relative;
    top: 3px;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  .photo-lg {
    background-image: url("/images/promotion/Sofa_small.jpg");
    height: 300px;
  }

  .photo-sm {
    height: 60px;
  }

  .photo {
    background-image: url("/images/promotion/Sofa_small.jpg");
  }

  .photo1 {
    background-image: url("/images/promotion/bed_small.jpg");
  }

  .photo2 {
    background-image: url("/images/promotion/Sofa_small2.jpg");
  }

  .photo3 {
    background-image: url("/images/promotion/Sofa_small.jpg");
  }

  .red {
    color: red;
  }
}
