header {
  .top-bar {
    background-color: $header-topbar-bg;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
        line-height: 55px;

        a {
          color: #ffffff;
          font-size: 13px;
          @extend %hover-background-animation;

          &:hover {
            color: $primary;
            text-decoration: none;
          }
        }
      }
    }

    .text-left ul li {
      margin-right: 1.5rem;

      i {
        margin-left: 5px;
      }
    }

    .text-right ul li {
      margin-left: 1.5rem;

      i {
        margin-right: 5px;
      }
    }
  }

  .company-claim {
    background-color: $header-bg;

    .container > .row {
      height: 145px;
    }

    .phone-number {
      p {
        margin: 0;
        font-size: 17px;
        line-height: 42px;
        color: rgb(216, 216, 216);
        font-weight: 500;

        i {
          font-size: 32px;
          color: $primary;
          vertical-align: middle;
          margin-top: -3px;
          margin-right: 0.8rem;
        }
      }
    }

    .cart {
      .cart-box {
        display: inline-block;
        position: relative;
        color: #ffffff;

        .cart-icon {
          background-color: $primary;
          width: 55px;
          height: 50px;
          border-radius: 3px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 20px;
          @extend %hover-background-animation;

          i {
            margin-right: 5px;
          }
        }

        .cart-counter {
          min-width: 28px;
          max-width: 50px;
          padding: 0 2px;
          height: 27px;
          border-radius: 14px;
          background-color: $header-bg;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 14px;
          color: rgb(224, 227, 237);
          position: absolute;
          top: 50%;
          right: 0;
          transform: translate(65%, -50%);
        }

        &:hover {
          .cart-icon {
            background-color: lighten($primary, 10%);
          }
        }
      }
    }
  }

  .menu-bar {
    box-shadow: 2px 3.464px 6px rgba(1, 2, 2, 0.2);
    background-color: #ffffff;

    @media (max-width: $maxMedium) {
      .container {
        padding: 0;
      }
    }

    .container > .row {
      height: 84px;
      @media (max-width: $maxMedium) {
        flex-direction: column-reverse;
        height: 110px;
      }

      @media (max-width: $maxSmall) {
        flex-direction: row;
        padding: 10px;
        width: 100%;
      }
    }

    .menu {
      display: flex;
      align-self: stretch;
      @media (max-width: $maxSmall) {
        width: 100%;
      }

      ul {
        margin: 0;
        padding: 0;
        display: flex;
        @media (max-width: $maxSmall) {
          flex-direction: column;
          height: 110px;
          width: 100%;
        }

        li {
          list-style: none;
          display: flex;
          align-items: stretch;
          @media (max-width: $maxSmall) {
            width: 100%;
          }

          a {
            color: $text-color;
            text-transform: uppercase;
            font-size: 12px;
            padding: 1rem;
            text-decoration: none;
            display: flex;
            align-items: center;
            border-top: 4px solid #ffffff;
            font-weight: 500;
            letter-spacing: 1px;
            @extend %hover-background-animation;

            @media (max-width: $maxSmall) {
              width: 100%;
              justify-content: center;
              background: #ffffff;
              z-index: 10;
            }

            &:hover,
            &.active {
              background-color: $primary;
              color: #ffffff;
              border-color: $primary;
            }

            &.active {
              border-color: $text-color;
            }
          }
        }
      }
    }

    .search-form {
      border: 1px solid $form-border-color;
      display: inline-flex;
      height: 45px;
      color: $text-color;
      @media (max-width: $maxSmall) {
        display: flex;
        border: none;
        flex-direction: column;
        width: 90%;
        height: 90px;
      }
      .category {
        border-right: 1px solid $form-border-color;
        display: flex;
        align-items: center;
        position: relative;
        cursor: pointer;

        &:hover {
          background: $primary;

          i:first-child,
          i:last-child,
          select {
            color: $text-color-hover;

            option {
              color: $form-border-color;
            }
          }
        }
        
        @media (max-width: $maxSmall) {
          justify-content: center;
          height: 45px;
          border: 1px solid $form-border-color;
        }

        i:first-child {
          position: absolute;
          left: 10px;
          z-index: 0;
        }

        i:last-child {
          position: absolute;
          right: 10px;
          z-index: 0;
        }

        .category-list {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin: 0;
          background-color: transparent;
          padding: 5px 30px 5px 35px;
          font-size: 14px;
          position: relative;
          z-index: 1;

          & > ul {
            display: none;
            position: absolute;
            box-shadow: 1px 2px 2px $form-border-color;
            list-style-type: none;
            padding-inline-start: 0;
            top: 37px;
            left: 0;
            background: #ffffff;
            white-space: nowrap;
          }

          ul > li {
            display: block;
            height: 45px;
            line-height: 40px;
            text-align: center;
            color: $text-color;
            cursor: pointer;
            position: relative;
            padding: 5px 30px 5px 35px;
            white-space: nowrap;

            &:hover {
              background: $primary;
            }
          }

          li {
            & > ul {
              display: none;
              position: absolute;
              box-shadow: 1px 2px 2px $form-border-color;
              list-style-type: none;
              padding-inline-start: 0;
              top: 0;
              left: 100%;
              background: #ffffff;
              white-space: nowrap;
            }

            &:hover > ul {
              display: block;
            }
          }
        }

        &:hover > .category-list > ul {
          display: block;
        }
      }

      .search-field {
        display: flex;
        align-items: center;
        position: relative;
        @media (max-width: $maxSmall) {
          justify-content: center;
          height: 45px;
          border: 1px solid $form-border-color;
          border-top: none;
        }

        input {
          border: 0;
          padding-left: 10px;
          font-size: 14px;
          outline: none;
          @media (max-width: $maxSmall) {
            width: 90%;
          }

          &::placeholder {
            color: $text-color;
          }
        }

        button {
          border: 0;
          background-color: transparent;
          outline: none;
        }
      }
    }

    .menu-switch {
      display: none;
    }

    label {
      display: none;
    }

    @media (max-width: $maxSmall) {
      label {
        display: block;
      }

      .menu-switch {
        & ~ .menu {
          padding: 10px;
        }

        &:checked ~ .menu {
          display: flex;
        }

        &:not(:checked) ~ .menu {
          display: none;
        }
      }
    }
  }
}
