.section--promotion {
  .promotion-box {
    background-color: #ffffff;
    margin-bottom: 2rem;
    position: relative;
    display: inline-block;
    visibility: hidden;

    &.tns-slide-active {
      visibility: visible;
    }

    .photo {
      max-height: 300px;
    }

    photo {
      width: 100%;
      padding-bottom: 2%;
      object-fit: cover;
    }
  }

  .slider-promotion {
    .f1 {
      background-image: url("/images/promotion/Sofa_small.jpg");
    }

    .f2 {
      background-image: url("/images/promotion/Sofa_small.jpg");
    }

    .f3 {
      background-image: url("/images/promotion/Sofa_small.jpg");
    }
  }

  .active {
    color: #292929;
  }

  .dots {
    border-radius: 50%;
    color: $primary;
  }

  .description {
    display: inline-block;
  }

  .slider-button {
    display: inline-block;
  }

  .hero {
    background-image: url("/images/promotion/Sofa_small.jpg");
  }

  .carousel-indicators {
    color: #ffffff;
    background-color: #000000;
    width: 50%;
  }

  .carousel-indicators .active {
    background-color: $primary;
  }

  .photo-second {
    height: 300px;
  }

  .panel-bar {
    margin: 0 10px;
    height: 320px;
  }

  .col-4 .col-8 {
    margin: 0 10px;
  }

  span {
    text-align: center;
  }

  .hero {
    height: 280px;
  }

  .tns-nav-active > a {
    background-color: #d58e32 !important;
    color: #d58e32;
  }

  .prom-1-car {
    .slider-promotion-dots {
      background: #000000;
      z-index: 1000;
      height: 24px;
      border-radius: 0;

      h5 {
        color: white;
        float: left;
        padding-left: 10px;
        display: inline-block;
      }

      ul {
        display: block;
        float: right;
        padding-right: 10px;
        display: inline-block;
        background: transparent;
        transform: none;
      }
    }

    .tns-controls {
      display: none;
    }

    button {
      visibility: hidden;
    }
  }

  .prom-2-car {
    .tns-nav {
      display: none;
    }

    .tns-controls {
      display: block;
    }

    button {
      background: black;
      color: white;
      text-align: center;
      border: 1px solid white;
      position: absolute;
      top: 280px;
      left: 375px;
      width: 365px;
    }

    button:hover {
      background: $primary;
    }
  }
}
