.section--promotion {
  .promotion-box {
    background-color: #ffffff;
    margin-bottom: 2rem;
    position: relative;
    display: inline-block;
    visibility: hidden;

    &.tns-slide-active {
      visibility: visible;
    }

    .photo {
      max-height: 300px;
    }

    photo {
      width: 100%;
      padding-bottom: 2%;
      object-fit: cover;
    }
  }

  .slider-promotion {
    .f1 {
      background-image: url("/images/promotion/Sofa_small.jpg");
    }

    .f2 {
      background-image: url("/images/promotion/Sofa_small.jpg");
    }

    .f3 {
      background-image: url("/images/promotion/Sofa_small.jpg");
    }
  }
}
.active {
  color: #292929;
}

.dots {
  border-radius: 50%;
  color: orange;
}
.description {
  display: inline-block;
}
.slider-button {
  display: inline-block;
}

/*
      .carousel-inner {
        .hero {
          display: flex;
          flex-direction: column;
          color: #ffffff;
          position: absolute;
          top: 10%;
          left: 10%;
          background: rgba(116, 114, 114, 0.5);
          width: 80%;
          height: 80%;

          .description {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            height: 100%;
            padding-bottom: 10%;
            padding-left: 5%;

            p {
              margin: 0;
              padding: 0;

              &:nth-child(1) span {
                font-size: 16px;
              }

              &:nth-child(2) span {
                font-size: 24px;
                font-weight: bold;
              }

              &:nth-child(3) span {
                padding: 3px;
                font-size: 20px;
                border: 2px solid #ffffff;
              }
            }
          }
        }
      }
      .photo-second {
        height: 150px;
      }

*/
