body {
  font-family: "Poppins", sans-serif;
  padding-top: 30px;

  .container {
    margin: 0 auto;
    width: 400px;
    max-width: 400px;
  }

  #register {
    padding: 0 25 25 25px;
    background-color: $text-color-light;
    -moz-border-radius: 5px;
    border-radius: 5px;
    display: table;
    position: static;

    .header {
      margin-bottom: 20px;
      h3 {
        color: grey;
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 5px;
      }
      p {
        color: #ffffff;
        font-size: 14px;
        font-weight: 300;
      }
    }

    .break {
      height: 1px;
      background-color: $primary;
      width: 400px;
      margin: 0 -25px;
    }

    .inputs {
      margin-top: 25px;
      label {
        color: grey;
        font-size: 12px;
        font-weight: 300;
        letter-spacing: 7px;
        display: block;
      }
      input::-webkit-input-placeholder {
        color: $footer-bg;
      }
      input::-moz-input-placeholder {
        color: $footer-bg;
      }
      input[type="text"],
      input[type="email"],
      input[type="password"],
      input[type="number"] {
        background-color: grey;
        font-size: 0.8rem;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        border: none;
        padding: 13 10px;
        width: 320px;
        margin-bottom: 20px;
        &:focus {
          background: #ffffff;
          outline: none;
        }
      }
      .accept {
        display: block;
        position: static;
        height: 25px;
        margin-top: 10px;
        clear: both;

        input[type="checkbox"] {
          float: left;
          margin-right: 14px;
          margin-top: 3px;
        }

        .accepted {
          float: left;
          font-size: 14px;
          font-style: italic;
        }
      }

      .btn-main {
        width: 100%;
        margin-top: 20px;
        padding: 15 0px;
        color: #ffffff;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 1px;
        text-align: center;
        border-radius: 5px;
      }
    }
  }
}
