.section--reviews {
  .container {
    margin: 10px;
  }

  .title {
    margin-top: 20px;
    margin-bottom: 0;
  }

  .opinion1 {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 0;
  }

  .opinion2 {
    display: inline-block;
    margin-left: 20px;
    margin-bottom: 0;
  }

  .icon {
    color: black;
    display: inline-block;
  }

  .icon:hover {
    color: $primary;
  }

  .active {
    color: $primary;
  }

  h1 {
    font-size: 18px;
  }

  textarea {
    height: 160px;
    width: 95%;
    margin: 0 auto;
  }

  input {
    height: 45px;
    width: 39%;
    padding: 10px;
    margin-right: 20px;
  }

  .btn-main {
    background-color: black;
    color: white;
    border: none;
  }
}
