.section--gallery {
  padding: 5rem 0;

  .panel-bar {
    .heading {
      width: 100%;
    }
  }
  .product-left-gallery {
    .tabs {
      display: flex;
      justify-content: space-between;
      font-family: Arial, sans-serif;
      text-transform: uppercase;
      margin: 0;

      .tab {
        border: 1px #e2e2e2 solid;
        border-right: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        &:last-child {
          border-right: 1px #e2e2e2 solid;
        }

        a {
          color: #000;
          padding: 10px 23px;
          text-decoration: none;
        }
      }

      .active {
        background: #f4f5f7;
        border-top: 3px $primary solid;
        border-bottom: 0;

        a {
          color: $primary;
        }
      }
    }
    .gallery,
    .gallery-featured {
      background: #f4f5f7;
      display: none;
      @extend %fade-effect;

      .bigPhoto {
        width: 100%;
        height: 409px;
        background-size: cover;
        display: none;
        @extend %fade-effect;
      }

      #thumb1 {
        background: url(../images/products/furniture-gallery1.jpg) no-repeat;
      }

      #thumb2 {
        background: url(../images/products/furniture-gallery2.jpg) no-repeat;
      }

      #thumb3 {
        background: url(../images/products/furniture-gallery3.jpg) no-repeat;
      }

      #thumb4 {
        background: url(../images/products/furniture-gallery4.jpg) no-repeat;
      }

      #thumb5 {
        background: url(../images/products/furniture-gallery5.jpg) no-repeat;
      }

      #thumb6 {
        background: url(../images/products/furniture-gallery6.jpg) no-repeat;
      }

      .active {
        display: block !important;
      }

      .thumbnails {
        display: flex;
        justify-content: space-between;
        padding: 8px 6px;
        background: $white;
        border: 1px #e2e2e2 solid;
        border-top: 0;

        a {
          background: #2a2a2a;
          display: flex;
          align-items: center;
          padding: 0 11px;
          color: $white;
          text-decoration: none;
        }

        .thumbnails-list {
          display: flex;
          justify-content: space-between;
          margin: 0;

          .thumb-1 {
            background: url(../images/products/furniture-gallery1.jpg) no-repeat;
          }

          .thumb-2 {
            background: url(../images/products/furniture-gallery2.jpg) no-repeat;
          }

          .thumb-3 {
            background: url(../images/products/furniture-gallery3.jpg) no-repeat;
          }

          .thumb-4 {
            background: url(../images/products/furniture-gallery4.jpg) no-repeat;
          }

          .thumb-5 {
            background: url(../images/products/furniture-gallery5.jpg) no-repeat;
          }

          .thumb-6 {
            background: url(../images/products/furniture-gallery6.jpg) no-repeat;
          }

          .thumb {
            width: 70px;
            height: 70px;
            margin: 0 3px;
            position: relative;
            cursor: pointer;
            background-size: cover;

            &::before {
              content: "";
              position: absolute;
              width: 100%;
              height: 100%;
              top: 0;
              left: 0;
              background: rgba(255, 255, 255, 0.5);
            }
          }
          .thumb-active {
            &::before {
              background: none;
            }
          }
        }
      }
    }

    .active {
      display: block;
    }

    .gallery-top-seller {
      .top-seller-bigPhoto {
        width: 100%;
        height: 409px;
        background-size: cover;
        display: none;
        @extend %fade-effect;
      }

      #top-seller-thumb1 {
        background: url(../images/products/furniture-gallery6.jpg) no-repeat;
      }

      #top-seller-thumb2 {
        background: url(../images/products/furniture-gallery5.jpg) no-repeat;
      }

      #top-seller-thumb3 {
        background: url(../images/products/furniture-gallery4.jpg) no-repeat;
      }

      #top-seller-thumb4 {
        background: url(../images/products/furniture-gallery3.jpg) no-repeat;
      }

      #top-seller-thumb5 {
        background: url(../images/products/furniture-gallery2.jpg) no-repeat;
      }

      #top-seller-thumb6 {
        background: url(../images/products/furniture-gallery1.jpg) no-repeat;
      }

      .active {
        display: block !important;
      }

      .thumbnails {
        .thumbnails-list {
          .top-seller-thumb-1 {
            background: url(../images/products/furniture-gallery6.jpg) no-repeat;
          }

          .top-seller-thumb-2 {
            background: url(../images/products/furniture-gallery5.jpg) no-repeat;
          }

          .top-seller-thumb-3 {
            background: url(../images/products/furniture-gallery4.jpg) no-repeat;
          }

          .top-seller-thumb-4 {
            background: url(../images/products/furniture-gallery3.jpg) no-repeat;
          }

          .top-seller-thumb-5 {
            background: url(../images/products/furniture-gallery2.jpg) no-repeat;
          }

          .top-seller-thumb-6 {
            background: url(../images/products/furniture-gallery1.jpg) no-repeat;
          }

          .top-seller-thumb {
            background-size: cover;
          }
        }
      }
    }

    .gallery-sale-off {
      .sale-off-bigPhoto {
        width: 100%;
        height: 409px;
        background-size: cover;
        display: none;
        @extend %fade-effect;
      }

      #sale-off-thumb1 {
        background: url(../images/products/furniture-gallery6.jpg) no-repeat;
      }

      #sale-off-thumb2 {
        background: url(../images/products/furniture-gallery5.jpg) no-repeat;
      }

      #sale-off-thumb3 {
        background: url(../images/products/furniture-gallery4.jpg) no-repeat;
      }

      #sale-off-thumb4 {
        background: url(../images/products/furniture-gallery3.jpg) no-repeat;
      }

      #sale-off-thumb5 {
        background: url(../images/products/furniture-gallery2.jpg) no-repeat;
      }

      #sale-off-thumb6 {
        background: url(../images/products/furniture-gallery1.jpg) no-repeat;
      }

      .active {
        display: block !important;
      }

      .thumbnails {
        .thumbnails-list {
          .sale-off-thumb-1 {
            background: url(../images/products/furniture-gallery6.jpg) no-repeat;
          }

          .sale-off-thumb-2 {
            background: url(../images/products/furniture-gallery5.jpg) no-repeat;
          }

          .sale-off-thumb-3 {
            background: url(../images/products/furniture-gallery4.jpg) no-repeat;
          }

          .sale-off-thumb-4 {
            background: url(../images/products/furniture-gallery3.jpg) no-repeat;
          }

          .sale-off-thumb-5 {
            background: url(../images/products/furniture-gallery2.jpg) no-repeat;
          }

          .sale-off-thumb-6 {
            background: url(../images/products/furniture-gallery1.jpg) no-repeat;
          }

          .sale-off-thumb {
            background-size: cover;
          }
        }
      }
    }

    .gallery-top-rated {
      .top-rated-bigPhoto {
        width: 100%;
        height: 409px;
        background-size: cover;
        display: none;
        @extend %fade-effect;
      }

      #top-rated-thumb1 {
        background: url(../images/products/furniture-gallery6.jpg) no-repeat;
      }

      #top-rated-thumb2 {
        background: url(../images/products/furniture-gallery5.jpg) no-repeat;
      }

      #top-rated-thumb3 {
        background: url(../images/products/furniture-gallery4.jpg) no-repeat;
      }

      #top-rated-thumb4 {
        background: url(../images/products/furniture-gallery3.jpg) no-repeat;
      }

      #top-rated-thumb5 {
        background: url(../images/products/furniture-gallery2.jpg) no-repeat;
      }

      #top-rated-thumb6 {
        background: url(../images/products/furniture-gallery1.jpg) no-repeat;
      }

      .active {
        display: block !important;
      }

      .thumbnails {
        .thumbnails-list {
          .top-rated-thumb-1 {
            background: url(../images/products/furniture-gallery6.jpg) no-repeat;
          }

          .top-rated-thumb-2 {
            background: url(../images/products/furniture-gallery5.jpg) no-repeat;
          }

          .top-rated-thumb-3 {
            background: url(../images/products/furniture-gallery4.jpg) no-repeat;
          }

          .top-rated-thumb-4 {
            background: url(../images/products/furniture-gallery3.jpg) no-repeat;
          }

          .top-rated-thumb-5 {
            background: url(../images/products/furniture-gallery2.jpg) no-repeat;
          }

          .top-rated-thumb-6 {
            background: url(../images/products/furniture-gallery1.jpg) no-repeat;
          }

          .top-rated-thumb {
            background-size: cover;
          }
        }
      }
    }
  }

  .product-right-gallery {
    background: #e8edf7 url(../images/products/bg_right_gallery.png) no-repeat bottom
      right;
    padding: 40px;
    font-family: Arial, sans-serif;
    background-size: contain;
    height: 100%;

    small {
      text-transform: uppercase;
    }

    .price {
      font-size: 48px;
      color: #79ae39;
    }

    .title {
      font-size: 48px;
      color: #d58e32;
      display: block;
    }

    .btn-green {
      margin-top: 17px;
      display: inline-block;
    }
  }
}
