.section--features {
  padding: 5rem 0;

  a {
    text-decoration: none;

    &.active,
    &:hover {
      .feature-box {
        .icon {
          i {
            background-color: $primary;
            color: #ffffff;
            border-color: $primary;
          }
        }

        .content {
          color: $primary;
        }
      }
    }
  }
}
