.section--featured {
  padding: 5rem 0;

  .product {
    background-color: #ffffff;
    border: 1px solid #e1e1e1;
    margin-bottom: 2rem;
    height: 500px;

    .photo {
      padding: 80% 10px 0 10px;
      background: {
        repeat: no-repeat;
      }
      position: relative;
      overflow: hidden;
      align-items: flex-end;
      background-image: url("https://images.unsplash.com/photo-1524758631624-e2822e304c36?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");

      .dealspromo {
        background-color: $form-border-color;
        height: 50px;
        width: 100%;
        position: absolute;
        color: #f4f5f7;
        display: flex;
        justify-content: flex-start;
        margin-top: -280px;
        margin-left: -10px;
        padding: 10px;
        text-transform: uppercase;

        .dots {
          position: absolute;
          color: $text-color;
          background-color: $form-border-color;
          display: inline-block;
          width: 40%;
          margin-left: 250px;

          ul {
            margin: 0;
            padding: 0 0 0 1rem;
            list-style: none;
            background-color: $form-border-color;

            li {
              display: inline-block;
              margin-left: 0.5rem;

              a {
                display: block;
                width: 8px;
                height: 8px;
                border-radius: 6px;
                background-color: #f4f5f7;

                &.active,
                &:hover {
                  background-color: $primary;
                }
              }
            }
          }
        }
      }

      .key {
        position: relative;

        .addcart {
          position: relative;

          .btn-main-small {
            text-decoration: none;
            margin-top: -100px;
            position: absolute;
            margin-left: 100px;
            margin-right: 100px;
            &:hover {
              display: flex;
            }
          }
        }

        .time {
          margin: 0 5px;
          color: #ffffff;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: -70px;

          a {
            text-decoration: none;
            border-radius: 50%;
            background-color: $form-border-color;
            width: 70px;
            height: 70px;
            margin: 5px;
            position: relative;
            margin-top: -20px;

            p {
              position: absolute;
              top: 0;
              left: 0;
              color: #fff;
              font-size: 20px;
              text-align: center;
              display: flex;
              justify-content: center;
              text-transform: uppercase;
            }
          }
        }
      }

      .content {
        text-align: center;
        margin-top: 80px;
        background-color: #ffffff;
        width: 100%;
        border: 1px solid black;
        position: relative;

        h5 {
          color: $primary;
          font-size: 16px;
          line-height: 24px;
          letter-spacing: 1px;
        }
        .stars {
          a {
            text-decoration: none;
            color: rgb(42, 42, 42);
            @extend .far;
            @extend .fa-star;
            &.full {
              @extend .fas;
            }
          }
        }

        .line {
          position: absolute;
        }

        .actions {
          .outlines {
            .btn-outline {
              &:hover {
                background-color: $primary;
                color: #ffffff;
              }
            }
          }
          .price {
            .btn-main-small {
              position: relative;
              display: flex;
              justify-content: flex-end;
              align-content: flex-start;
              margin-top: -35px;
              width: 60px;
            }
          }
        }
      }
    }
  }

  .productpromo {
    margin-top: 0 30px;
    padding-top: 15px;
    border: 1px solid black;
    height: 100%;
    position: relative;
    background: {
      repeat: no-repeat;
      size: cover;
    }
    background-image: url("https://images.unsplash.com/photo-1493663284031-b7e3aefcae8e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");

    .layerpromo {
      background-color: $footer-bg;
      background: rgba(0, 0, 0, 0.3);
      position: absolute;
      width: 100%;
      height: 220px;
      margin-top: 120px;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;

      h1 {
        color: #ffffff;
        text-transform: uppercase;
        flex: 0 1 auto;
        align-self: auto;
        margin-top: -40px;
        font-size: 55px;
        text-align: center;
        font-weight: normal;
      }

      p {
        align-self: center;
        color: #ffffff;
        text-transform: uppercase;
        font-size: 25px;
        flex: 0 1 auto;
        align-self: auto;
      }

      .btn-main-small {
        background-color: #ffffff;
        height: 30px;
        width: 120px;
        flex: 0 1 auto;
        align-self: auto;
        margin-top: 10px;
        margin-bottom: -125px;
        color: $text-color;
        text-transform: uppercase;
        font-size: 16px;
        border-radius: 8%;
      }
    }

    .buttonnext {
      width: 100%;
      height: 40px;
      display: flex;
      align-items: flex-end;
      margin-top: 480px;

      .leftbutton {
        background-color: $form-border-color;
        flex: 1;
        border: 1px solid $form-border-color;

        &:hover {
          background-color: $primary;
        }

        .icon {
          i {
            color: #fff;
          }
        }
      }

      .rightbutton {
        background-color: $primary;
        flex: 1;
        border: 1px solid $primary;

        &:hover {
          background-color: $primary;
        }

        .icon {
          i {
            color: #fff;
          }
        }
      }
    }
  }
}
